.buchstabensalat {
  font-family: Adda;
  font-size: 1.4em;
  background-color: #dddddd;
}

.ausgabe {
   height: 70vh;
   border: 1px solid black;
   margin-bottom: 10px;
   background-color: #d8d6bb;
   overflow: auto;
}

.meintext {
   float: right;
   color: black;
   background-color: #c3ecac;
   padding: 10px 10px 0px 10px;
   margin-top: 10px;
   margin-right: 20px;
   border-radius: 10px;
   clear: both;
   margin-left: 20%;
   text-align: right;
   line-height: 0.92em;
}

.anderertext {
   float: left;
   color: black;
   background-color: white;
   padding: 10px 10px 0px 10px;
   margin-top: 10px;
   margin-right: 20%;
   border-radius: 10px;
   clear: both;
   margin-left: 20px;
   line-height: 0.92em;
}

textarea {
  line-height: 0.92em;
}

.anderertext > .username {
  font-weight: bold;
}

.time {
  text-align: right;
  color: #888888;
  font-size: 0.7em;
  font-family: Arial;
}

.mitte {
  width: 80%;
  margin: 200px auto 0 auto;
}

.fas {
  color: green;
  font-size: 2.2em;
  cursor: pointer;
}

.col-xs-10, .col-xs-1 {
  padding-right: 0px !important;
  padding-left: 5px !important; 
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #d8d6bb; 
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #a29c5d; 
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #827d4a; 
}

