.buchstabensalat {
  font-family: Adda;
  font-size: 1.4em;
  width: 95vw;
}

.abstand {
   margin-top: 150px;
}

.col-xs-6, .col-xs-4 {
   padding-right: 0px !important;
   padding-left: 5px !important;
}
