<div class="buchstabensalat">
   <div class="abstand row">
      <div class="col-xs-1"></div>
      <div class="col-xs-6"><input class="form-control" type="text" placeholder="Passwort" [(ngModel)]="passwort"/></div>
   </div>      
   <div class="row">
      <div class="col-xs-1"></div>
      <div class="col-xs-6"><input class="form-control" type="text" placeholder="Nickname" [(ngModel)]="username"/></div>
      <div class="col-xs-4"><button type="button" (click)="register()">Eintragen</button></div>
      <div class="col-xs-1"></div>
   </div>
</div>
