<div class="buchstabensalat">
   <div class="abstand row">
      <div class="col-xs-2"></div>
      <div class="col-xs-6"><input class="form-control" type="text" placeholder="Passwort" [(ngModel)]="passwort"/></div>
      <div class="col-xs-2"><button type="button" (click)="login()">Login</button></div>
      <div class="col-xs-2"></div>
   </div>
   <div class="row">
      <div class="col-xs-2"></div>
      <div class="col-xs-6 runter">
         <a routerLink="/register">Registrieren</a>
      </div>
   </div>
</div>
