/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: Adda;
  src: url(assets/Adda.woff);
}

body {
   background-color: #dddddd;
  background-image: url("assets/images/logo.png");
  background-position: 50% 50%;
  background-repeat: repeat;
  height: 70vh;
}